<aside data-sidebar>
  <div class="menu_logo">
    LearnStuff.ro
  </div>
  <div class="padding">
    <a href="/">Home</a>
    <br>
    <a href="/section">A Section</a>
    <br>
    <a href="/other">Other Section</a>
    <br>
    <a href="#" data-sidebar-button>Hide Sidebar</a>
  </div>
</aside>
<div class="overlay" data-sidebar-overlay></div>
