<div id="profile_container" class="content_container" style="min-height: 700px;">
  <div class="profile_container">
    <div class="profile">
      <div class="profile_info">
      </div>
    </div>
  </div>
  <div id="profile_statistics_container" class="profile_statistics_container">
    <div class="profile_statistics">
      <div class="statistics_container">
        <ul id="messages" style="height: 200px; overflow: auto; overflow-x: scroll;overflow-y: hidden;"></ul>

        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
      </div>
    </div>
  </div>
  <div class="profile_container" style="height: 65px; background-color: #00BCD4; color:white;">
    <div class="content" style="height: 65px;">
      <form action="" style="padding-top: 10px;">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>
  </div>
  <div class="profile_container" style="min-height: 700px;">
    <div class="content" id="skill_content" style="padding-top: 25px;">
    </div>
  </div>
</div>
</div>
<script src="/js/lib/socket.io.client.js"></script>
