<div id="profile_container" class="content_container" style="min-height: 700px;">
  <div class="profile_container">
    <div class="profile">
      <div class="profile_info">
      </div>
    </div>
  </div>
  <div id="profile_statistics_container" class="profile_statistics_container">
    <div class="profile_statistics">
      <div class="statistics_container">
      </div>
    </div>
  </div>
  <div class="profile_container" style="height: 45px; background-color: #00BCD4; color:white;">
    <div class="content" style="height: 45px;">
    </div>
  </div>
  <div class="profile_container" style="min-height: 700px;">
    <div class="content" id="skill_content" style="padding-top: 25px;">
    </div>
  </div>
</div>
</div>
